<h4><li>Food</li></h4>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th> Method </th>
                <th > Link </th>
                <th> Function </th>
            </tr>
            
        </thead>
           
        <tbody><tr>
          <td>GET</td>
          <td>
            <a href="api/foods/">/food</a>
          </td>
          <td class="comment">// get all foods <br> Data : {Result}</td>
        </tr>

        <tr>
          <td>POST (AUTH)</td>
          <td>
            <a >/api/foods/add/</a>
          </td>
          <td class="comment">// add new foods</td>
        </tr>

        <tr>
          <td>DELETE (AUTH)</td>
          <td>
            <a >
                /api/foods/delete/id
            </a>
          </td>
          <td class="comment">// delete food by id</td>
        </tr>

        <tr>
          <td>GET</td>
          <td><a href="/api/foods/detail/id">/api/foods/detail/id </a></td>
          <td class="comment">// get foods detail by id  <br> data : {resultAF} , {consumed}</td>
        </tr>

        <tr>
          <td>PUT (AUTH)</td>
          <td>
            <a>
              /api/foods/update/id
            </a>
          </td>
          <td class="comment">// update foods by id</td>
        </tr>

        <tr>
          <td>GET</td>
          <td>
            <a href="/api/foods/search">
              /api/animals/search
            </a>
          </td>
          <td class="comment">// For Search $like Foods name</td>
        </tr>


      </tbody></table>

    
    </div>