<h4><li>Animal Food Juction</li></h4>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th> Method </th>
                <th > Link </th>
                <th> Function </th>
            </tr>
            
        </thead>
           
        <tbody><tr>
          <td>GET (AUTH)</td>
          <td>
            <a href="api/animalfoods/">api/animalfoods/</a>
          </td>
          <td class="comment">// get all table animal-food</td>
        </tr>

        <tr>
          <td>POST (AUTH)</td>
          <td>
            <a >/api/animalfoods/FA/add/id</a>
          </td>
          <td class="comment">// add new relation between Food to -> Animal by id</td>
        </tr>

        <tr>
          <td>DELETE (AUTH)</td>
          <td>
            <a >/api/animalfoods/FA/delete/id1/id2</a>
          </td>
          <td class="comment">// delete relation between Food to -> Animal by id1 : foodId, id2 : animalId</td>
        </tr>

        <tr>
          <td>POST (AUTH)</td>
          <td>
            <a >/api/animalfoods/AF/add/id</a>
          </td>
          <td class="comment">// add new relation between Animal to -> Food by id</td>
        </tr>

        <tr>
          <td>DELETE (AUTH)</td>
          <td>
            <a >/api/animalfoods/AF/delete/id1/id2</a>
          </td>
          <td class="comment">// delete relation between Animal to -> Food by id1 : animalId, id2 : foodId</td>
        </tr>

        

      </tbody></table>

    
    </div>