.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#1F8A70;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

div.card {
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.navbar{
	background-color: #00425A;
}

.navbar-brand{
	color: #FFF;
	font-weight: 900;
	font-size: x-large;
}

.nav-link{
	color: #FFF;
}
.kotak {
	opacity: 1;
	background-color: #00000070; 
	color: #ffffff; 
	padding: 5px;
 }

 .prase {
	text-align: justify;
	text-justify: inter-word;
 }
