<h4><li>User</li></h4>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th> Method </th>
                <th > Link </th>
                <th> Function </th>
            </tr>
            
        </thead>
           
        <tbody><tr>
          <td>GET</td>
          <td>
            <a href="/api/users">/api/users</a>
          </td>
          <td class="comment">// get all user data</td>
        </tr>

        <tr>
          <td>POST</td>
          <td>
            <a >/api/users/create</a>
          </td>
          <td class="comment">// create user (register)</td>
        </tr>

        <tr>
            <td>POST</td>
            <td>
              <a >/api/users/login</a>
            </td>
            <td class="comment">// user login with : email & password</td>
          </tr>

          <tr>
            <td>PUT</td>
            <td>
              <a >/api/users/update/:id</a>
            </td>
            <td class="comment">// update user data by id</td>
          </tr>

          <tr>
            <td>DELETE</td>
            <td>
              <a >/api/users/delete/:id</a>
            </td>
            <td class="comment">// delete user by Id</td>
          </tr>

          <tr>
            <td>GET (AUTH)</td>
            <td>
              <a href="/api/account">/api/account</a>
            </td>
            <td class="comment">// Find user by Id</td>
          </tr>


      </tbody></table>

    
    </div>