<h4><li>Class Type</li></h4>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th> Method </th>
                <th > Link </th>
                <th> Function </th>
            </tr>
            
        </thead>
           
        <tbody><tr>
          <td>GET</td>
          <td>
            <a href="/api/classtypes">/api/classtypes</a>
          </td>
          <td class="comment">// get all classType</td>
        </tr>

        <tr>
          <td>GET</td>
          <td>
            <a href="/api/classtypes/detail/id">/api/classtypes/detail/id</a>
          </td>
          <td class="comment">// get detail classType by id</td>
        </tr>

      </tbody></table>

    
    </div>