<h4><li>Habitats</li></h4>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th> Method </th>
                <th > Link </th>
                <th> Function </th>
            </tr>
            
        </thead>
           
        <tbody><tr>
          <td>GET</td>
          <td>
            <a href="/api/habitats">/api/habitats</a>
          </td>
          <td class="comment">// get all habitat</td>
        </tr>

        <tr>
          <td>GET</td>
          <td>
            <a href="/api/habitats/detail/id">/api/habitats/detail/id</a>
          </td>
          <td class="comment">// get detail habitat by id</td>
        </tr>

      </tbody></table>

    
    </div>